<div *ngIf="!!loginForm" class="shadow rounded card text-center bg-body position-absolute top-50 start-50 translate-middle" style="width: 400px;">
    <div class="card-body">
        <h1 class="mt-4 mb-4">{{ !isRegister ? 'Login' : 'Register' }}</h1>
        @if (!isRegister) {
            @if (cantLogin) {
                <div class="text-danger">
                    Email or Password is incorrect
                </div>
            }
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-floating mb-4 mt-4">
                    <input type="email" id="inputEmail1" class="form-control" [ngClass]="loginForm.get('email')?.dirty && loginForm.get('email')?.invalid ? 'is-invalid': ''" aria-describedby="emailHelp" formControlName="email" placeholder="name@example.com">
                    <label for="inputEmail1">Email address</label>
                    <div class="invalid-feedback">
                        {{ checkEmailErrors() }}
                    </div>
                </div>
                <div class="input-group has-validation mb-4">
                    <div class="form-floating" [ngClass]="loginForm.get('password')?.dirty && loginForm.get('password')?.invalid ? 'is-invalid': ''">
                        <input type="password" id="password" class="form-control" [ngClass]="loginForm.get('password')?.dirty && loginForm.get('password')?.invalid ? 'is-invalid': ''" aria-describedby="passwordHelpBlock" formControlName="password" placeholder="password">
                        <label for="password" >Password</label>                
                    </div>
                    <button class="btn btn-outline-secondary" (click)="togglePassword('togglePassword', 'password')" type="button">
                        <i class="bi bi-eye-slash fs-4" id="togglePassword"></i>
                    </button> 
                    <div class="invalid-feedback">
                        {{ checkPasswordErrors('password') }}
                    </div> 
                </div>
                
                <div class="mt-4">
                    <button type="submit" [attr.disabled]="loginForm.invalid ? '' : undefined" class="btn btn-primary ps-4 pe-4 mb-3">Submit</button>
                </div>
                

                <br/>
                <br/>
                <!-- <hr class="bg-secondary border-2 border-top border-secondary" /> -->
                <hr class="dropdown-divider">
            </form>
            <button class="btn btn-link btn-sm" (click)="toggleRegister()">Register User</button>

        } 
        @else {
            @if (cantRegister) {
                <div class="text-danger">
                    There was a problem registering
                </div>
            }
            <form [formGroup]="loginForm" (ngSubmit)="onSubmitRegister()">
                <div class="form-floating mb-4 mt-4">
                    <input type="email" id="inputEmail1" class="form-control" [ngClass]="loginForm.get('email')?.dirty && loginForm.get('email')?.invalid ? 'is-invalid': ''" aria-describedby="emailHelp" formControlName="email" placeholder="name@example.com">
                    <label for="inputEmail1">Email address</label>
                    <div class="invalid-feedback">
                        {{ checkEmailErrors() }}
                    </div>
                </div>
                <div class="input-group has-validation mb-4">
                    <div class="form-floating" [ngClass]="loginForm.get('password')?.dirty && loginForm.get('password')?.invalid ? 'is-invalid': ''">
                        <input type="password" id="password" class="form-control" [ngClass]="loginForm.get('password')?.dirty && loginForm.get('password')?.invalid ? 'is-invalid': ''" aria-describedby="passwordHelpBlock" formControlName="password" placeholder="password">
                        <label for="password" >Password</label>                
                    </div>
                    <button class="btn btn-outline-secondary" (click)="togglePassword('togglePassword', 'password')" type="button">
                        <i class="bi bi-eye-slash fs-4" id="togglePassword"></i>
                    </button> 
                    <div class="invalid-feedback">
                        {{ checkPasswordErrors('password') }}
                    </div> 
                </div>

                <div class="input-group has-validation mb-4">
                    <div class="form-floating" [ngClass]="loginForm.get('confirmPassword')?.dirty && loginForm.get('confirmPassword')?.invalid ? 'is-invalid': ''">
                        <input type="password" id="confirmPassword" class="form-control" [ngClass]="loginForm.get('confirmPassword')?.dirty && loginForm.get('confirmPassword')?.invalid ? 'is-invalid': ''" aria-describedby="confirmPasswordHelpBlock" formControlName="confirmPassword" placeholder="confirmPassword">
                        <label for="confirmPassword">Confirm Password</label>                
                    </div>
                    <button class="btn btn-outline-secondary" (click)="togglePassword('toggleConfirmPassword', 'confirmPassword')" type="button">
                        <i class="bi bi-eye-slash fs-4" id="toggleConfirmPassword"></i>
                    </button> 
                    <div class="invalid-feedback">
                        {{ checkPasswordErrors('confirmPassword') }}
                    </div> 
                </div>
                
                <div class="mt-4">
                    <button type="submit" [attr.disabled]="loginForm.invalid ? '' : undefined" class="btn btn-primary ps-4 pe-4 mb-3">Submit</button>
                </div>
                

                <br/>
                <br/>
                <hr class="dropdown-divider">
            </form> 
            <button class="btn btn-link btn-sm" (click)="toggleRegister()">Login instead</button>
        }
    </div>
</div>
